In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#filename = r"C:\Exoplanet\PS_2026.01.15_09.23.48.csv"
filename = "C:\Exoplanet\composite_exo_data-unfiltered.csv"
df = pd.read_csv(filename, comment='#', low_memory=False) # comment="#" skips NASA metadata lines
# low_memory=False avoids mixed dtype warnings
#print(df.columns)

df_filtered = df[
    (
        df["pl_rade"].between(1.5, 4) &
        df["pl_bmasse"].notna() &
        df["st_teff"].notna() &
        df["st_rad"].notna() &
        df["pl_orbsmax"].notna() &
        df["sy_jmag"].notna() &
        df["pl_trandur"].notna() &
        df["pl_bmasseerr1"].notna() &
        df["pl_bmasseerr2"].notna() &
        df["sy_snum"].between(1,1)                         
         
    )
].copy()  # Filter the table to select sub-Neptunes and removes rows with missing values
# .copy() avoids pandas "SettingWithCopyWarning"

Rp = df_filtered["pl_rade"].values  # planet radius
Mp = df_filtered["pl_bmasse"].values # planet mass
starsN= df_filtered["sy_snum"]  #number of stars
Tstar = df_filtered["st_teff"].values       # Eq temp of star in K
Rstar = df_filtered["st_rad"].values        # temp of star in R_sun
a = df_filtered["pl_orbsmax"].values        # Orbital semimajor axis in AU
Jmag = df_filtered["sy_jmag"].values
transit = df_filtered["pl_trandur"].values
upperunc=df_filtered["pl_bmasseerr1"].values
lowerunc=df_filtered["pl_bmasseerr2"].values 
Rstar_AU = Rstar * 0.00465047  # Conversion of radius of star into AU

Teq = Tstar * np.sqrt(Rstar_AU / (2 * a)) * (1-0.3)**(1/4)  #Equilibrium temperature

df_filtered["Teq_calc"] = Teq
Teq = df_filtered["Teq_calc"].values

def scale_factor(Rp): #code which gives scale factor values depending on radius
    if Rp < 1.5:
        return 0.19
    elif Rp < 2.75:
        return 1.26
    elif Rp < 4.0:
        return 1.28
    else:
        return 1.15

S = np.array([scale_factor(r) for r in Rp])  #scale factors for each planet

TSM = S * (Rp**3 * Teq) / (Mp * Rstar**2) * 10**(-Jmag/5) # transmission spectroscopy metric formula

df_filtered["TSM"] = TSM  #stores TSM values in the filtered table

df_sorted = df_filtered.sort_values("TSM", ascending=False)  # ranks planets by TSM values with highest (best) first

ranked = df_sorted[["pl_name", "pl_rade", "pl_bmasse", "Teq_calc", "TSM" , "pl_trandur"]]

print(ranked.head(20)) #leftmost column shows position in the dataframe for each row

print("Number of filtered planets is",len(df_filtered))

top20 = df_sorted.head(20)
total_duration_hours = top20["pl_trandur"].sum()
print("Total transit duration of top 20 TSM planets:", total_duration_hours, "hours")



observationtime=(total_duration_hours)*2
print("Total observing time if each transit is measured once is",observationtime)

          pl_name   pl_rade  pl_bmasse     Teq_calc         TSM  pl_trandur
213     GJ 1214 b  2.733000       8.41   518.405137  380.584732    0.869660
4856    L 98-59 d  1.627000       1.64   380.657903  327.812477    0.840000
54       AU Mic b  3.956770      20.12   549.267345  319.920731    3.492700
958   HD 219134 b  1.602000       4.74   928.562830  268.059893    0.945000
6062     pi Men c  2.018900       3.63  1094.236069  242.520049    2.952024
664   HD 136352 c  2.916000      11.24   619.417654  214.891116    3.251000
861   HD 191939 d  2.995000       2.80   495.301520  208.188326    5.360000
242     GJ 3090 b  2.130000       3.34   633.297366  201.591013    1.281000
959   HD 219134 c  1.511000       4.36   715.396134  188.393035    1.660000
1020  HD 260655 c  1.533000       3.09   509.994434  179.835293    0.980000
5552    TOI-431 d  3.290000       9.90   584.245431  174.149824    3.319578
5644    TOI-544 b  2.018000       2.89   967.592727  170.825496    1.210000
1391   HIP 9618 b  3.828381       8.30   640.874116  156.906620    4.942730
5145   TOI-1064 c  2.651000       2.50   579.390916  156.443729    2.370000
344     GJ 9827 d  1.980000       3.02   618.073252  150.571624    1.226400
5434   TOI-2443 b  2.363000       4.80   473.048885  145.334184    4.548000
5377   TOI-2134 b  2.690000       9.13   609.044787  143.652559    2.995000
902   HD 207496 b  2.250000       6.10   743.194880  143.495504    1.762000
859   HD 191939 b  3.410000      10.00   806.557319  140.104678    2.939000
5350   TOI-2015 b  3.309000       9.20   485.850989  136.622908    0.987600
Number of filtered planets is 412
Total transit duration of top 20 TSM planets: 47.93169159999999 hours
Total observing time if each transit is measured once is 95.86338319999999

In [3]:
max_tsm = df_sorted["TSM"].max()

# Calculate relative number of transits
df_sorted["N_transits"] = max_tsm / df_sorted["TSM"]

# Round to nearest integer and enforce minimum of 1 transit
df_sorted["N_transits"] = df_sorted["N_transits"].round().astype(int)
df_sorted["N_transits"] = df_sorted["N_transits"].clip(lower=1)

# View results
df_sorted[["pl_name", "TSM", "N_transits"]].head(20)

df_sorted["total_transit_duration"] = (
    df_sorted["N_transits"] * 2.0 * df_sorted["pl_trandur"]
)


top20 = df_sorted.head(20)

total_duration_top20 = (top20["total_transit_duration"].sum())*2

print(f"Total observing time for top 20 TSM planets accounting for number of transits required: {total_duration_top20:.2f} hours")

display(df_sorted[["pl_name", "TSM", "N_transits", "total_transit_duration"]].head(20))

Total observing time for top 20 TSM planets accounting for number of transits required: 416.70 hours

          pl_name         TSM  N_transits  total_transit_duration
213     GJ 1214 b  380.584732           1                1.739320
4856    L 98-59 d  327.812477           1                1.680000
54       AU Mic b  319.920731           1                6.985400
958   HD 219134 b  268.059893           1                1.890000
6062     pi Men c  242.520049           2               11.808096
664   HD 136352 c  214.891116           2               13.004000
861   HD 191939 d  208.188326           2               21.440000
242     GJ 3090 b  201.591013           2                5.124000
959   HD 219134 c  188.393035           2                6.640000
1020  HD 260655 c  179.835293           2                3.920000
5552    TOI-431 d  174.149824           2               13.278311
5644    TOI-544 b  170.825496           2                4.840000
1391   HIP 9618 b  156.906620           2               19.770920
5145   TOI-1064 c  156.443729           2                9.480000
344     GJ 9827 d  150.571624           3                7.358400
5434   TOI-2443 b  145.334184           3               27.288000
5377   TOI-2134 b  143.652559           3               17.970000
902   HD 207496 b  143.495504           3               10.572000
859   HD 191939 b  140.104678           3               17.634000
5350   TOI-2015 b  136.622908           3                5.925600

In [7]:
selected = []
time_used = 0.0
tsm_gained = 0.0

for bin_name, fraction in bin_fraction.items():
    # subset planets in this temperature bin, ranked by TSM per hour
    df_bin = df_sorted[df_sorted["Teq_bin"] == bin_name].sort_values(
        "TSM_per_hour", ascending=False
    )
    
    # allocate fraction of total time
    budget_bin = TIME_BUDGET * fraction
    time_used_bin = 0.0
    
    for _, row in df_bin.iterrows():
        duration = row["total_transit_duration"]
        if time_used_bin + duration <= budget_bin:
            selected.append(row.to_dict())  # store as dict
            time_used_bin += duration       # bin counter
            time_used += duration           # global counter
            tsm_gained += row["TSM"]       # sum TSM
        else:
            break

df_selected = pd.DataFrame(selected)

display(df_selected[[
    "pl_name",
    "Teq_calc",
    "Teq_bin",
    "TSM",
    "pl_trandur",
    "N_transits",
    "total_transit_duration",
    "TSM_per_hour"
]])

print(f"Number of targets selected: {len(df_selected)}")
print(f"Total observing time used: {time_used:.2f} hours")
print(f"Total TSM gained: {tsm_gained:.2f}")

,pl_name,Teq_calc,Teq_bin,TSM,pl_trandur,N_transits,total_transit_duration,TSM_per_hour
0,L 98-59 d,380.657903,Cool,327.812477,0.840000,1,1.680000,195.126475
1,TOI-2015 b,485.850989,Cool,136.622908,0.987600,3,5.925600,23.056384
2,LP 791-18 c,323.680202,Cool,122.570699,1.167000,3,7.002000,17.505098
3,TOI-270 c,448.078774,Cool,120.790783,1.682000,3,10.092000,11.968964
4,TOI-4438 b,398.371978,Cool,123.703307,2.021000,3,12.126000,10.201493
5,HD 191939 d,495.301520,Cool,208.188326,5.360000,2,21.440000,9.710276
6,TOI-1266 b,378.386085,Cool,109.365703,2.128800,3,12.772800,8.562391
7,G 9-40 b,402.897002,Cool,92.560895,1.693000,4,13.544000,6.834089
8,K2-25 b,452.113974,Cool,61.381742,0.763700,6,9.164400,6.697846
9,GJ 1214 b,518.405137,Warm,380.584732,0.869660,1,1.739320,218.812371
10,HD 219134 b,928.562830,Warm,268.059893,0.945000,1,1.890000,141.830631
11,HD 260655 c,509.994434,Warm,179.835293,0.980000,2,3.920000,45.876350
12,AU Mic b,549.267345,Warm,319.920731,3.492700,1,6.985400,45.798484
13,GJ 3090 b,633.297366,Warm,201.591013,1.281000,2,5.124000,39.342508
14,TOI-544 b,967.592727,Warm,170.825496,1.210000,2,4.840000,35.294524
15,HD 219134 c,715.396134,Warm,188.393035,1.660000,2,6.640000,28.372445
16,GJ 9827 d,618.073252,Warm,150.571624,1.226400,3,7.358400,20.462549
17,HD 136352 c,619.417654,Warm,214.891116,3.251000,2,13.004000,16.525001
18,TOI-1064 c,579.390916,Warm,156.443729,2.370000,2,9.480000,16.502503
19,HD 207496 b,743.194880,Warm,143.495504,1.762000,3,10.572000,13.573165
20,TOI-431 d,584.245431,Warm,174.149824,3.319578,2,13.278311,13.115360
21,L 168-9 b,913.170973,Warm,86.619799,1.020000,4,8.160000,10.615171
22,pi Men c,1094.236069,Hot,242.520049,2.952024,2,11.808096,20.538455
23,TOI-1410.01,1235.309966,Hot,93.217196,1.112080,4,8.896639,10.477799
24,TOI-5800 b,1014.051939,Hot,93.530547,1.200000,4,9.600000,9.742765
25,TOI-1416 b,1391.692812,Hot,75.706532,1.500000,5,15.000000,5.047102
26,HD 3167 b,1624.293130,Hot,76.605973,1.609000,5,16.090000,4.761092
27,TOI-824 b,1146.380936,Hot,61.093602,1.153440,6,13.841280,4.413869
28,K2-141 b,1924.586304,Hot,55.180822,0.940000,7,13.160000,4.193072

Number of targets selected: 29
Total observing time used: 275.13 hours
Total TSM gained: 4636.23